sidebar-nav ul li a {

    font-size: 26px;

    text-decoration: none;

    display: block;

    padding: 60px 60px;

    transition: 0.5s;

}

.sidebar-nav ul li a:hover {

    background-color: #eeeeee;

    border-radius: 14px;

}

.sidebar-nav .offcanvas {

    width: 300px;

    border: none;

}

.sidebar-nav .offcanvas ul li a span {

    font-size: 18px;

    position: relative;

    top: -1px;

    transition: 0.5s;
    padding-left: 30px;
    padding-bottom: 30px;


}

.sidebar-nav .offcanvas.show ul li a:hover span {

    padding-left: 20px;

}

.sidebar-nav .dropdown-toggle::after {

    position: center;

    top: 13px;

}
.background{
    width:100%;
    background-image:url("img-1.jpg");
    background-position: center;
    background-size: cover;
    height:109vh;
    margin-bottom:100px;
}
.card-1{
    margin-top:20px;
    text-align:justify;
    margin:auto;
   
}
.card-2{
    margin-top:50px;
    padding-top: 20px;
    margin:auto;
    
}
.card-img-top{
    transition: width 2s, height 2s, transform 2s;
}
.card-img-top:hover{
    width: 300px;
  height: 300px;
  transform: rotate(180deg);
}
.footer{
    margin-bottom:100px;
}
div.footer{
    background-color:#34b1eb;
}